body{
margin: 0%;
}
.header{
    background-color: #0074a1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-header{
    width: auto;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    list-style: none;
    color: inherit;
    color: rgb(1, 35, 73);
    border;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
    color: rgb(211, 202, 202);
    font-weight: 700;
    transition: all 0.3s ease;
}
.nav-list{
    
    list-style: none;
    color: inherit;
    display: flex;
    gap: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
    
}