body{
    margin: 0%;
    overflow: hidden;
    background-color: #003554;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Container{
    width: 95vw;
    height: 95vh;
    background-color: #C1BDB3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box{
    width: 80vw;
    height: 80vh;
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    
}

.login-image{
    width: 65%;
    height: 100%;
    background-color: coral;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 50%;
    height: 100%;
    background-color: #0074a1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.left img{
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    margin-left: auto;
    
    
}

.login-form label{
    font-family: "Chakra Petch", sans-serif;
    color: #051923;
    font-weight: bold;
    
    
}

.login-form{
    
    margin-left: 9%;
    margin-top: 10%;
    
}


.login-form h1{
    color: #FCF7F8;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-size: 5vh;
    font-family: "Chakra Petch", sans-serif;
    
}



.login-form hr{
    width: 20%;
    height: 0.7vh;
    margin-left: 0;
    margin-bottom: 10%;
    background-color: #051923;
    border-radius: 4px;
    border: none;
    display: flex;
    
}

.login-form input{
    border: none;
    border-radius: 4px;
    height: 5vh;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
    
    padding-left: 10px;
    font-size: 90%;
    
}

.login-form p{
    font-family: "Chakra Petch", sans-serif;
    color: #FCF7F8;
    margin-bottom: 2%;
    margin-top: 8%;
    
}

.login-form button{
    
    width:  92%;
    height: 7vh;
    background-color: #051923;
    color: #FCF7F8;
    border: none;
    border-radius: 5px;
    font-family: "Chakra Petch", sans-serif;
    cursor: pointer;
    margin-top: 2%;
    font-size: 100%;
    font-weight: bold;
    
    
}

.login-form button:hover{
    background-color: #03314b;
    transition: 0.3s;
}

.form a{
    font-family: "Chakra Petch", sans-serif;
    color: #051923;
    text-decoration: none;
    margin-top: 2%;
}

input::placeholder{
    font-family: "Chakra Petch", sans-serif;
    font-size: 100%;
    color: gray;
}


